:root {
    --bg: #222;
    --bg2: #343a40;
    --fg: #ccc;
}

body {
    background-color: var(--bg) !important;
    color: var(--fg) !important;
    text-shadow: 0.5px 0.5px #000a;
}

#canvas {
    width: 100%;
    height: auto;
}

.thumbnail {
    border: solid 5px transparent;
    cursor: pointer;
    max-width: 80px;
    max-height: 80px;
}

.thumbnail.active {
    border-color: #4af;
}

.thumbnail.small:hover {
    box-shadow: 0 0 5px #fff5;
}

.thumbnail.large {
    visibility: hidden;
    width: 0;
    height: 0;
    overflow: scroll;
    z-index: -1;
    margin: 0;
    padding: 0;
    border: none;
}

figure > .remove {
    display: none;
    position: absolute;
    margin-left: -28px;
    margin-top: 3px;
    line-height: 0.6em;
    padding: 0 2px 2px 2px;
    background-color: #0009;
    border-radius: 5px;
    font-size: 1.5em;
}
figure:hover > .remove {
    cursor: pointer;
    display: inline-block;
}

.colorPicker, .colorOption {
    text-shadow: 0 0 2px #000,
                 0 0 1px #000,
                 0 0 3px #000;
    color: #fff !important;
}

.dropdown-menu.colorMenu {
  margin: 0 !important;
  padding: 0 !important;
  width: 80px !important;
  min-width: 80px !important;
}

.colorOption {
    padding: 6px 2px !important;
    margin: 0 !important;
    min-width: 80px !important;
    min-height: 40px !important;
    width: 80px !important;
    height: 40px !important;
}