:root {
    --bg: #222;
    --bg2: #343a40;
    --fg: #ccc;
}

body {
    background-color: var(--bg) !important;
    color: var(--fg) !important;
    text-shadow: 0.5px 0.5px #000a;
}

#canvas {
    width: 100%;
    height: auto;
}

.thumbnail {
    border: solid 5px transparent;
    cursor: pointer;
    max-width: 80px;
    max-height: 80px;
    opacity: 0.8;
}

.thumbnail.active {
    border-color: #4af;
}

.thumbnail.loaded {
    opacity: 1
}

.thumbnail.small:hover {
    box-shadow: 0 0 5px #fff5;
}

.thumbnail.large {
    visibility: hidden;
    width: 0;
    height: 0;
    overflow: scroll;
    z-index: -1;
    margin: 0;
    padding: 0;
    border: none;
}

figure > .remove {
    display: none;
    position: absolute;
    margin-left: -28px;
    margin-top: 3px;
    line-height: 0.6em;
    padding: 0 2px 2px 2px;
    background-color: #0009;
    border-radius: 5px;
    font-size: 1.5em;
}
figure:hover > .remove {
    cursor: pointer;
    display: inline-block;
}

.colorPicker, .colorOption {
    text-shadow: 0 0 2px #000,
                 0 0 1px #000,
                 0 0 3px #000;
    color: #fff !important;
}

.dropdown-menu.colorMenu {
  margin: 0 !important;
  padding: 0 !important;
  width: 80px !important;
  min-width: 80px !important;
}

.colorOption {
    padding: 6px 2px !important;
    margin: 0 !important;
    min-width: 80px !important;
    min-height: 40px !important;
    width: 80px !important;
    height: 40px !important;
}

.colorOption:hover {
    filter: brightness(110%)
}

.icon.ion-load-c:before {
    animation: spin 2s infinite linear;
    font-size: 2.0em;
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.imageLoader {
    position: absolute;
    margin-left: 15px;
    margin-top: 10px;
    display: block;
    z-index: 1000;
}
.imageLoader.loaded {
    display: none;
}

button.colorPicker {
    border-color: #0007 !important;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: transparent;
}

button.colorPicker::after {
    display:none;
    width:0;
    height:0;
    margin-left:.255em;
    vertical-align:.255em;
    content:"";
    border:none;
}

.rainbow {
    background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3) !important;

    -webkit-animation: rainbow 18s ease infinite;
         -z-animation: rainbow 18s ease infinite;
         -o-animation: rainbow 18s ease infinite;
            animation: rainbow 18s ease infinite;
}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}